h1 {
	color: Maroon;
	font-family: 'Poppins', sans-serif;
	font-size: 45 px;
	}
body {
	background: LightBlue;
	color: Black;
	font-size: 25 px; 
	font-family: 'Libre Baskerville', serif;
	}
.menu {
	width: 90% ;
	background: BlueViolet;
	color: DarkBlue; 
	border: 4 px solid OrangeRed;
	border-radius: 8px;
	}

