h1 {
	color: Maroon;
	font-family: 'Oswald', sans-serif;
	font-size: 40 px;
	}
body {
	background: LightBlue;
	color: Black;
	font-size: 20 px; 
	font-family: 'Oswald', sans-serif;
	}
.menu {
	width: 90% ;
	background: BlueViolet;
	color: DarkBlue; 
	border: 4 px solid OrangeRed;
	border-radius: 5px;
	}
#myDiv {visibility: hidden; 
      border: 5px solid red;
      position: fixed; left:450px; top:150px}
button {position: fixed; left:450px; top:250px}
